#horizontal2{
    display: grid;
    grid-column:2;
    grid-row: 2;
    border: solid 1px black;
    height: 595px;
    width: 1000px;
    background-color: yellow;
}
#flex1{
    display: flex;
}
#flex2{
    display: flex;
}
.div{
    border: 1px solid black;
    width: 325px;
    height: 290px;
}