#horizontal2{
    display: grid;
    grid-column:2;
    grid-row: 2;
    border: solid 1px black;
    height: 595px;
    width: 1000px;
    background-color: rgb(182, 182, 81);
}
#flex1{
    display: flex;
}
#flex2{
    display: flex;
}
.div{
    border: 1px solid black;
    padding: 2.5px;
    width: 25%;
    height: 290px;
    transition: transform 1.0s;
}
.div:hover {
    transform: rotateX(360deg); 
  }